<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.userMapper">
    <update id="updateUser">
        update user
        <set>
            <if test="username !=null and username !=''">
                username = #{username},
            </if>
            <if test="password !=null and password !=''">
                password = #{password},
            </if>
            <if test="status !=null and status !=''">
                status = #{status},
            </if>
        </set>
        where id = #{id}
    </update>


    <!--<delete id="delect">
        delete
        from shoucangjia
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}/*拼接每次生成的变量id*/
        </foreach>
    </delete>-->
</mapper>